/*-- General --*/
body {
	background: #eee;
}

section.main {
	margin-top: 60px;
}

/*-- Navigation --*/
.navbar-default {
	background-color: #fff;
}

.navbar-brand {
	color: #28A1CD !important;
}

.btn-back-wrapper {
	position: absolute;
	left: 30px;
	top: 11px;
}

.btn-panel-back {
	font-size: 10px;
}

.btn-panel-back:hover {
	text-decoration: none !important;
}

/*-- Login --*/
.register-block {
	border-top: 1px solid #ddd;
}

/*-- DateTimepicker --*/
.bootstrap-datetimepicker-widget {
	z-index: 9000 !important;
}



.naslov{
	border-bottom: 1px solid #aaa;
	font-size: 20px;
	font-weight: 700;
	line-height: 50px;
	margin: 0px 0px 10px 0px;
}

.table-actions {
	width: 1%;
}

.panel {
	margin-bottom: 0px;
}

#chart {
	margin-top: 15px;
}

.multiple-select {
	max-height: 320px;
	width: 100%;
}

.main {
	margin-bottom: 40px;
}